# Node
node_modules/
dist/
dist-ssr/
*.local

# Frontend
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Databases and binaries
*.db
*.sqlite
*.sqlite3
*.exe

# Logs
logs/
*.log

# OS/Editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

